* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #6EC5CB;
}

p {
    margin-bottom: 16px;
}

header { 
    background-color: #cccccc;
    height: 80px;
    margin: 10px 10px 10px 10px;
}

header h1 {
    padding-top: 10px;
    font-family: century gothic, helvetica, sans-serif;
    font-weight: bold;
 }

header h2 {
    font-family:century gothic, helvetica, sans-serif; 
    font-size: 18px;
} 

header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

header a:hover {
    color: #000000;
}
 
header a:active {
    text-decoration: underline;
    
}



article { 
    padding: 20px 20px 20px 20px;
}

article img {
    float: right; 
    margin: 10px; 
}

 article h1 {
    font-size: 24px;
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
} 

article p {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 10px 10px 10px;
    font-family: sans-serif;
}

footer {
    font-size: 12px;
    margin-left: 5px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

