* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}
p {
    margin-bottom: 16px; /* (or 1 rem) -- tall: px ; wide: % */
}

header { 
    background-color: black;
    color: white;
    height: 45px;   
}

header h1 {
    float: left;
    font-family: helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
 }

header nav {
    float: left;
    margin-top: 11px
}

header a {
    color: #cccccc;
    margin-right: 20px;
    text-decoration: none;
}

header a:hover {
    color: #ffffff;
}

article {
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px;
    line-height:44px; 
    margin-top: 4px;
}
 article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}  

footer {
    font-size: 12px;
    padding: 0 10px 0 10px;
}