* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/*start body css*/

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #45ADA8;
}

/*end body css*/

/*start header css*/

header { 
    background-color: #9DE0AD;
    height: 105px;
    width: 700px;
    margin: 10px 10px 0px 10px;
    border-top: 5px solid #594F4F;
    border-left: 5px solid #594F4F;
    border-right: 5px solid #594F4F;
    margin-left: auto;
    margin-right: auto;
    
}

header { 
    background-color: #9DE0AD;
    height: 105px;
    width: 700px;
    margin: 10px 10px 0px 10px;
    border-top: 5px solid #594F4F;
    border-left: 5px solid #594F4F;
    border-right: 5px solid #594F4F;
    margin-left: auto;
    margin-right: auto;
    
}

header h1 {
    padding-top: 10px;
    font-family: century gothic, helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align:center;
 }

header h2 {
    font-family:american typewriter, helvetica, sans-serif; 
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 13px;
    text-align: center;
} 

header a {
    background: #594F4F;
    display: inline-block;
    margin-left:28.5px;
    width:100px;
    font-family: century gothic, helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-align:center;
    
}

header a:hover {
    color: #000000;
  
}
 
header a:active {
    text-decoration: underline;
    
}
    

/*end header css*/

/*start article css*/

article { 
    padding: 20px 50px 20px 50px;
    background: #ffffff;
    border-left: 5px solid #594F4F;
    border-right: 5px solid #594F4F;
    width: 700px;
    margin-left: auto;
    margin-right: auto;

}

article img {
    border: 5px #594F4F;
    margin: 17px;
    
}

 article h1 {
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    font-family: american typewriter, helvetica, sans-serif;

} 

article h2 {
    font-family:century gothic, helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

article p {
    font-size: 16px;
    line-height: 20px;
    margin: 15px 10px 10px 20px;
    font-family: century gothic, helvetica,sans-serif;
}

article ul {
    font-family:century gothic, helvetica, sans-serif;
    line-height: 20px;
    padding-left: 50px;
}
    
article a {
    font-family: century gothic, helvetica, sans-serif;
    color: #45ADA8;
    
}

article a:hover {
    color: #000000;

}

/*end article css*/

/*start footer css*/


footer {
    font-size: 14px;
    background-color: #9DE0AD;
    height: 105px;
    width: 700px;
    border-left: 5px solid #594F4F;
    border-right: 5px solid #594F4F;
    border-bottom: 5px solid #594F4F;
    margin: 0 auto; 
}

footer a {
    font-family: century gothic, helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding-left:70px;
   
    
}

footer a:hover {
    color: #000000;
}
 
footer a:active {
    text-decoration: underline;
    
}

footer p {
    font-family: american typewriter, helvetica, sans-serif;
    margin-top: 10px;
    padding-left:120px;
}

/*end article css*/

